version: '3.8'

services:
  mariadb:
    container_name: mariadb
    image: inception-mariadb:1.0
    build:
      context: ./requirements/mariadb
      dockerfile: Dockerfile
    networks:
      - inception-network
    volumes:
      - mariadb-data:/var/lib/mysql
    env_file:
      - .env
    restart: always
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p${MYSQL_ROOT_PASSWORD}"]
      interval: 10s
      timeout: 5s
      retries: 5

  wordpress:
    container_name: wordpress
    image: inception-wordpress:1.0
    build:
      context: ./requirements/wordpress
      dockerfile: Dockerfile
    networks:
      - inception-network
    volumes:
      - wordpress-data:/var/www/html
    env_file:
      - .env
    depends_on:
      mariadb:
        condition: service_healthy
    restart: always

  nginx:
    container_name: nginx
    image: inception-nginx:1.0
    build:
      context: ./requirements/nginx
      dockerfile: Dockerfile
    networks:
      - inception-network
    volumes:
      - wordpress-data:/var/www/html
    ports:
      - "443:443"
    env_file:
      - .env
    depends_on:
      - wordpress
    restart: always

networks:
  inception-network:
    driver: bridge

volumes:
  wordpress-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/mancorte/data/wordpress
  mariadb-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/mancorte/data/mariadb
