services:
  mariadb:
    container_name: mariadb
    image: mariadb:1.0
    build:
      context: ./requirements/mariadb
      dockerfile: Dockerfile
    networks:
      - inception-network
    volumes:
      - /home/mancorte/data/mariadb:/var/lib/mysql
    env_file:
      - .env
    restart: always
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 30s

  wordpress:
    container_name: wordpress
    image: wordpress:1.0
    build:
      context: ./requirements/wordpress
      dockerfile: Dockerfile
    networks:
      - inception-network
    volumes:
      - /home/mancorte/data/wordpress:/var/www/html
    env_file:
      - .env
    depends_on:
      mariadb:
        condition: service_healthy
    restart: always

  nginx:
    container_name: nginx
    image: nginx:1.0
    build:
      context: ./requirements/nginx
      dockerfile: Dockerfile
    networks:
      - inception-network
    volumes:
      - /home/mancorte/data/wordpress:/var/www/html
    ports:
      - "80:80"
      - "443:443"
    env_file:
      - .env
    depends_on:
      - wordpress
    restart: always

networks:
  inception-network:
    driver: bridge
